<div layout-margin fxFlexFill fxLayout="column" fxLayoutGap="15px">
    <div flex fxLayout="row" fxLayoutGap="15px">
        <div class="botao" fxFlex="calc(33.3%-15px)">7</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">8</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">9</div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="15px">
        <div class="botao" fxFlex="calc(33.3%-15px)">4</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">5</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">6</div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="15px">
        <div class="botao" fxFlex="calc(33.3%-15px)">1</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">2</div>
        <div class="botao" fxFlex="calc(33.3%-15px)">3</div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="15px">
        <div class="botao" fxFlex="calc(66,6%+15px)">0</div>
        <div class="botao" fxFlex="calc(33.3%+15px)"> < </div>
    </div>
</div>