<a routerLink="/LoginAgenciaConta">
    <div layout-margin fxFlexFill fxLayout="column">
        <div flex fxLayout="row">
            <div class="servicos" fxFlex="50" style="margin: 0px; height: 500px;">   
                <h2>Serviços Disponíveis</h2>
                <p>Saque</p>
                <p>Depósito</p>
                <p>Transferência</p>
            </div>
            <div class="banner" fxFlex="50" style="margin: 0px; height: 500px;">   
                <img src="https://placeimg.com/380/480/nature" />
            </div>
        </div>

        <div class="botaoAcao" style="height: 100px;">
            <div>
                <h1> Iniciar </h1>
            </div>
        </div>
    </div>
</a>